.app .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem 0;
  box-sizing: border-box;
  background: #fff;
}
.app .pagination > span {
  display: block;
  padding: 0.4rem 0.9rem;
  font-size: 1.2rem;

  cursor: pointer;
  border-radius: 50%;
}
.app .pagination > span:hover {
  transition: border 0.3s ease-in;
  border: solid 1px rgb(0, 0, 0);
}
.active {
  border: solid 1px #8e8e8e;
}
